.divider-container {
  width: 100%;
}

.line {
  flex: 1;
  color: #131D26;
}

p {
  font-weight: bold;
  text-align: center;
}

.avatar {
  border-radius: 15px;
}

h2 {
  font-family: 'Montserrat' !important;
  color: #ACB7BB;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

input {
  font-family: 'Montserrat' !important;
  color: #131D26;
}

button {
  font-family: 'Montserrat' !important;
  border-radius: 100px !important;
  width: 100px !important;
  height: auto !important;
  margin-left: 50%;
  transform: translateX(-50%);
  color: azure;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  color: azure;
}

.form-comment {
  margin: auto;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 5% 6%;
  opacity: 70%;
  background-color: azure;
  box-shadow: 0 0 1em rgba(128, 128, 128, 0.781);
}

.post {
  margin-top: 20px;
  border-radius: 15px;
}

.redirect {
  color: #5766bd;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 600px) {
  .sign-in-section {
    margin: 5%;
    width: 300px;
  }
}

span {
  font-family: 'Montserrat' !important;
  font-weight: bold;
}

.like-dislike-btn {
  margin-left: 40px;
  margin-bottom: 15px;
}