.wrapper {
  margin: 0 auto;
}

.content-comments {
  font-size: 18px;
}

.form-comment {
  padding: 10px;
  button {
    margin: 0 10px;
  }
}

.comments,
.form-comment {
  max-width: 600px;
  margin: 3% 0;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  background: white;
  opacity: 0.9;
}

.avatar-comments {
  width: 60px;
  height: 50px;
  background-size: cover;
}

.textarea-comment {
  resize: none !important;
}
