<app-loader *ngIf="!(allPosts$ | async)?.length"></app-loader>
<div class="wrapper" fxLayout="column">
  <app-card *ngFor="let post of allPosts$ | async" [post]="post"></app-card>
</div>
<!-- <ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #posts>
  <div class="wrapper" fxLayout="column">
    <app-card *ngFor="let post of (allPosts$ | async)" [post]="post"></app-card>
  </div>
</ng-template>

<ng-container *ngIf="!(allPosts$ | async)?.length then loader; else posts"></ng-container> -->

<!-- <ng-container *ngIf="!allPosts.length">
// </ng-container>

// <ng-container *ngIf="!!allPosts.length">
  
// </ng-container> -->
