<section>
    <footer>
        <div class="content">
            <div class="top">
            <div class="logo-details">
            <span class="logo_name"><img src="../../../assets/images/logo.png" style="width: 250px;"></span>
            </div><div class="media-icons">
            <a href="https://www.facebook.com/utsanjan"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/utsanjan"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/utsanjan/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/utsanjan"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/dopesatan"><i class="fab fa-youtube"></i></a>
            </div></div>
        </div>
    </footer>
</section>