.divider-container {
  width: 100%;
}

.line {
  flex: 1;
  color: #131D26;
}

h2 {
  font-family: 'Montserrat' !important;
  color: #131D26;
  font-size: 40px;
  font-weight: 900;
  margin-top:-1px;
}

p {
  font-weight: bold;
  text-align:center;
}

.avatar {
  border-radius: 20px;
  width: 30%;
  margin-left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
}

input {
  font-family: 'Montserrat' !important;
  color: #131D26;
}

button {
  font-family: 'Montserrat' !important;
  border-radius: 100px !important;
  width: 100% !important;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  color: #131D26;
}
.card{
  margin: 3% 35%;
  border-radius: 30px;
  padding: 3% 4%;
  opacity: 70%;
  margin-bottom: 150px;
  background-color: azure;
  box-shadow: 0 0 1em rgba(128, 128, 128, 0.781);
}

@media (max-width: 600px) {
  .sign-in-section {
    margin: 5%;
    width: 300px;
  }
}

span {
  font-family: 'Montserrat' !important;
}

.image-section {
  width: 100%;
}

app-user-posts {
  text-align: center;
  font-family: 'Montserrat' !important;
}