.create-post-section {
  margin: 3% 20%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  padding: 30px;
  background: white;
  opacity: 0.9;
}

.upload-msg {
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}

.upload-input {
  border-radius: 8px;
  padding: 6px 10px 10px 10px;
  align-items: flex-start;
}
.upload-input:hover {
  background-color: #e5e3e8;
}
.upload {
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
}

.upload-input {


}
.btn-upload {
  border-radius: 8px;
  margin-right: 30px;
}

.btn-submit {
  margin: 0 auto;
  padding: 15px 150px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.textarea {
  resize: none !important;
}

@media (max-width: 600px) {
  .create-post-section {
    margin: 20px 50px;
    width: 300px;
    padding: 20px;
  }
  .btn-submit {
    padding: 5px 20px;
    font-size: 15px;
  }
  .upload {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
