.container {
  margin: 5% 20%;
  border-radius: 0.5em;
  background-color: azure;
  box-shadow: 0 0 1em rgba(128, 128, 128, 0.781);
  padding: 10px 20px;
}
a {
  text-decoration: none;
  color: white;
}
