.container {
  margin: 5% 20%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  padding: 3% 7%;
  background: white;
  opacity: 0.9;
}

.btn-reset {
  margin: 0 30%;
}

.redirect {
  color: #673ab7;
  cursor: pointer;
  font-weight: bold;
}
