<div class="wrapper" gdAlignColumns="center">
  <div class="container" fxFlex fxLayout="column" fxLayoutGap="4%">
    <h3 fxFlex fxLayoutAlign="center">Reset Password</h3>

    <p class="text-center" fxFlex fxLayoutAlign="center">
      Please enter your email address to request a password reset.
    </p>
    <form
      class="example-form"
      #loginForm="ngForm"
      (ngSubmit)="forgotPassword(loginForm.value)"
      fxFlex
      fxLayoutAlign="center"
      fxLayout="column"
      fxLayoutGap="3%"
    >
      <mat-form-field class="example-full-width">
        <input
          #emailInput="ngModel"
          matInput
          ngModel
          id="email"
          type="text"
          name="email"
          required
          email
          placeholder="Email address"
        />
        <mat-error *ngIf="emailInput.hasError('required')"
          >Email is required.</mat-error
        >
        <mat-error *ngIf="emailInput.hasError('email')"
          >Enter valid email.</mat-error
        >
      </mat-form-field>

      <button
        class="btn-reset"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Reset Password
      </button>
    </form>

    <div fxFlex fxLayoutAlign="center" *ngIf="!isAuth">
      <span
        >Go back to? <a class="redirect" routerLink="/auth/sign-in">Sign In</a></span
      >
    </div>
  </div>
</div>


<!-- 
// <div class="redirectToLogin" fxLayoutAlign="center">
  //   <span>Go back to?<a class="redirect" routerLink="/auth/sign-in"> Sign in</a></span>
  // </div> -->
  
  